@using Alloy.Web
@model PageViewModel<Alloy.Web.Models.Pages.StartPage>

<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>

    <strong>Jajemen här har kalle ändrat.</strong>
    Lorem ipsum, ea molestie consetetur justo et at dolore diam euismod tempor amet at gubergren qui amet magna nonumy eirmod nonumy eirmod

</div>

<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Value of AssemblyInformationalVersion:</strong>
    @System.Diagnostics.FileVersionInfo.GetVersionInfo(typeof(Alloy.Web.Models.Pages.StartPage).Assembly.Location).ProductVersion
</div>



@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row equal-height", tag = Global.ContentAreaTags.FullWidth })
